#BannerImage{
	width : 480px;
	height: 125px;
	margin:auto;
	/*background-color: gray;
    */
	
}

#banner{
   
    
}
#Images{
    text-align: center;
}

#name{
/*    text-align: center;	*/
    vertical-align: bottom;
    position: relative;
    
    margin-top: 60px;

    left: 25%;
}

#navbar{
	margin-left: 30px;
	
	height: 30px;
}

#navbar a{
	margin-left: 20px;
	

}
#banner h1{
    position: relative;
    margin-left: 230px;
}

#Paragraphs{
    position: relative;
    text-align: center;
}
#Header h1{
    position: relative;
    text-align: center;
}






